# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf

# Web files
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf

# Documentation
*.md text eol=lf

# Git files
.gitignore text eol=lf
.gitattributes text eol=lf

